---
- name: Configurar Estação de Trabalho
  hosts: localhost
  connection: local

  vars:
    dotfiles_dir: "{{ ansible_facts.env.HOME }}/dotfiles"
    dotfiles_repo: "git@github.com:germanocorrea/dotfiles.git"
    python:
      Ubuntu:
        - "python3"
        - "python3-pip"
      Archlinux:
        - "python"
        - "python-pip"
      CachyOS:
        - "python"
        - "python-pip"

  tasks:
    - name: 1. Instalar pacotes base (Git, Stow)
      become: yes
      package: # Usando 'package' genérico para os pré-requisitos
        name:
          - git
          - stow
        state: present
      tags:
        - base
        - always
    - name: 2. Clonar repositório de dotfiles
      git:
        repo: "{{ dotfiles_repo }}"
        dest: "{{ dotfiles_dir }}"
        version: main
        force: yes
      tags:
        - base
        - always

    - name: 3. Instalar Yay (AUR Helper)
      when: ansible_distribution in ["Archlinux", "CachyOS"]
      tags:
        - aur
        - arch
      block:
        - name: 3a. Instalar dependências (git, base-devel)
          become: yes
          package:
            name:
              - git
              - base-devel
              - go
            state: present

        - name: 3b. Clonar repositório do yay para /tmp
          ansible.builtin.git:
            repo: "https://aur.archlinux.org/yay.git"
            dest: "/tmp/yay"
            clone: yes
            update: no

        - name: 3c. Construir e instalar o yay (makepkg)
          ansible.builtin.shell:
            cmd: "makepkg -si --noconfirm"
            chdir: "/tmp/yay"
            creates: "/usr/bin/yay"

    - name: 4. Instalar Pacotes [development-base]
      become: yes
      package:
        name:
          - base
          - curl
          - wget
          - cmake
          - gcc
          - speedtest-cli
          - coreutils
        state: present
      tags:
        - packages
        - development-base

    - name: 5. Instalar Pacotes [arch-base]
      when: ansible_distribution in ["Archlinux", "CachyOS"]
      become: yes
      package:
        name:
          - buildah
          - go
          - podman
          - podman-compose
          - bat
          - eza
          - base-devel
          - tree-sitter
          - jdk-openjdk
          - distrobox
        state: present
      tags:
        - packages
        - arch-base

    - name: 6. Instalar Pacotes [personal]
      become: yes
      package:
        name:
          - solaar
          - android-file-transfer
          - calibre
          - gimp
          - kdenlive
          #- obs-studio
          #- obsidian
          - vlc
        state: present
      tags:
        - packages
        - personal
    - name: Configurar Niri
      when: ansible_distribution in ["Archlinux", "CachyOS"]
      tags:
        - niri
        - personal
      block:
        - name: Instalar pacotes do Niri
          become: yes
          package:
            name:
              - niri
              - mako
              - fuzzel
              - xdg-desktop-portal-gnome
              - xdg-desktop-portal-gtk
              - swaybg
              - swayidle
              - swaylock
              - xwayland-satellite
              - udiskie
            state: present
          tags: packages
        - name: Aplicar (stow) dotfiles do Niri
          command:
            cmd: "stow --adopt niri"
            chdir: "{{ dotfiles_dir }}"
          tags: dotfiles
    - name: 6. Instalar Pacotes AUR [personal]
      when: ansible_distribution in ["Archlinux", "CachyOS"]
      become: yes
      kewlfft.aur.aur:
        use: yay
        name:
          - zen-browser-bin
          - pinta
          - clipman
          - xdg-desktop-portal-termfilechooser-hunkyburrito-git
      # ansible.builtin.shell:
      # cmd: "yay -S --noconfirm pinta xdg-desktop-portal-termfilechooser-hunkyburrito-git clipman"
      tags:
        - packages
        - personal
        - aur
    - name: 7. Instalar Pacotes AUR [g15]
      when: ansible_distribution in ["Archlinux", "CachyOS"]
      become: yes
      kewlfft.aur.aur:
        use: yay
        name:
          - awcc-bin
      # ansible.builtin.shell:
      # cmd: "yay -S --noconfirm awcc-bin"
      tags:
        - packages
        - g15

    - name: Configurar Neovim
      tags:
        - nvim
        - development-base
      block:
        - name: Instalar pacote Neovim
          when: ansible_distribution in ["Archlinux", "CachyOS"]
          become: yes
          package:
            name: neovim
            state: present
          tags: packages

        - name: Aplicar (stow) dotfiles do Neovim
          command:
            cmd: "stow --adopt nvim"
            chdir: "{{ dotfiles_dir }}"
          tags: dotfiles

    - name: Configurar Zsh
      tags:
        - zsh
        - development-base
      block:
        - name: 1. Instalar pacote Zsh
          become: yes
          package:
            name: zsh
            state: present
          tags: packages

        - name: 2. Trocar a shell padrão do usuário para zsh
          become: yes
          user:
            name: "{{ ansible_facts.user_id }}"
            shell: /usr/bin/zsh

        - name: 3. Instalar Oh My Zsh (Não-Interativo)
          shell:
            cmd: 'sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc'
            creates: "{{ ansible_facts.env.HOME }}/.oh-my-zsh"

        - name: 4. Instalar plugin zsh-syntax-highlighting
          git:
            repo: "https://github.com/zsh-users/zsh-syntax-highlighting"
            dest: "{{ ansible_facts.env.HOME }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"

        - name: 5. Instalar plugin zsh-autosuggestions
          git:
            repo: "https://github.com/zsh-users/zsh-autosuggestions"
            dest: "{{ ansible_facts.env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"

        - name: 6. Aplicar (stow) dotfiles do Zsh
          command:
            cmd: "stow --adopt zsh"
            chdir: "{{ dotfiles_dir }}"
          tags: dotfiles

    - name: Configurar Kitty
      tags:
        - kitty
        - personal
      block:
        - name: Instalar pacote Kitty
          become: yes
          package:
            name: kitty
            state: present
          tags: packages

        - name: Aplicar (stow) dotfiles do Kitty
          command:
            cmd: "stow --adopt kitty"
            chdir: "{{ dotfiles_dir }}"
          tags: dotfiles

    - name: Configurar btop
      tags:
        - btop
        - personal
      block:
        - name: Instalar pacote btop
          become: yes
          package:
            name: btop
            state: present
          tags: packages

        - name: Aplicar (stow) dotfiles do btop
          command:
            cmd: "stow --adopt btop"
            chdir: "{{ dotfiles_dir }}"
          tags: dotfiles

    - name: Instalar Haskell (GHCup)
      tags:
        - development-base
        - haskell
      block:
        - name: Baixar e instalar GHCup (Não-Interativo)
          ansible.builtin.shell:
            cmd: "curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh"
            creates: "{{ ansible_facts.env.HOME }}/.ghcup/bin/ghcup"
          environment:
            BOOTSTRAP_HASKELL_NONINTERACTIVE: "1"
        - name: Instalar fourmolu
          command:
            cmd: "cabal install fourmolu"
            creates: "{{ ansible_facts.env.HOME }}/.cabal/bin/fourmolu"

    - name: Instalar Rust (Rustup)
      tags:
        - development-base
        - rust
      block:
        - name: Baixar e instalar Rustup (Não-Interativo)
          ansible.builtin.shell:
            cmd: "curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y"
            creates: "{{ ansible_facts.env.HOME }}/.cargo/bin/rustup"

    - name: Instalar NVM (Node Version Manager)
      tags:
        - nvm
        - development-base
      block:
        - name: Baixar e instalar NVM
          ansible.builtin.shell:
            cmd: "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash"
            creates: "{{ ansible_facts.env.HOME }}/.nvm"

    - name: Instalar e configurar PHP
      tags:
        - development-base
        - php
      block:
        - name: Instalar pacote php
          become: yes
          package:
            name: php
            state: present
          tags: packages

        - name: Instalar phpactor
          command:
            cmd: "curl -Lo phpactor https://github.com/phpactor/phpactor/releases/latest/download/phpactor.phar"
            chdir: "{{ ansible_facts.env.HOME }}/.local/bin"
            creates: "{{ ansible_facts.env.HOME }}/.local/bin/phpactor"
          tags: packages

        - name: Permissão do phpactor
          become: yes
          command:
            cmd: "chmod a+x phpactor"
            chdir: "{{ ansible_facts.env.HOME }}/.local/bin"
          tags: packages

    - name: Configurar Virtualizacao
      when: ansible_distribution in ["Archlinux", "CachyOS"]
      tags:
        - personal
      block:
        - name: Instalar pacotes
          become: yes
          package:
            name:
              - libvirt
              - virt-manager
              - qemu-full
            state: present
          tags: packages

        - name: Habilitar e iniciar libvirtd.socket
          become: yes
          ansible.builtin.systemd:
            name: libvirtd.socket
            enabled: true
            state: started

    - name: Instalação de Python e Pip
      become: yes
      package:
        name: "{{ python[ansible_distribution] }}"
        state: present

    - name: Wallust
      command:
        cmd: cargo install wallust

    - name: Qobuz TUI
      command:
        cmd: cargo install --git https://github.com/SofusA/qobuz-player
