/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar-colors.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #608F94;
@define-color background #060606;
@define-color foreground #AFAAAA;
@define-color color0  #1D2020;
@define-color color1  #4E4443;
@define-color color2  #494949;
@define-color color3  #594747;
@define-color color4  #74504D;
@define-color color5  #348891;
@define-color color6  #23848D;
@define-color color7  #847D7D;
@define-color color8  #5D5857;
@define-color color9  #4E4443;
@define-color color10 #494949;
@define-color color11 #594747;
@define-color color12 #74504D;
@define-color color13 #348891;
@define-color color14 #23848D;
@define-color color15 #847D7D;

