/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar-colors.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #AA7082;
@define-color background #292129;
@define-color foreground #B0A9B8;
@define-color color0  #342D31;
@define-color color1  #514163;
@define-color color2  #564364;
@define-color color3  #574364;
@define-color color4  #BD5D72;
@define-color color5  #B96474;
@define-color color6  #C96877;
@define-color color7  #867C92;
@define-color color8  #5E5766;
@define-color color9  #514163;
@define-color color10 #564364;
@define-color color11 #574364;
@define-color color12 #BD5D72;
@define-color color13 #B96474;
@define-color color14 #C96877;
@define-color color15 #867C92;

